@import "./global.scss";

.clock-component {
  position: absolute;
  color: $blue;
  font-family: $font-family;
  left: 77%;
  margin: 0%;
}
.clock {
  color: $blue;
  font-family: $font-main;
  font-size: 34pt;
  position: absolute;

  right: 0vh;

  top: 20px;
}

@media only screen and (max-width: 700px) {
  .clock {
    font-size: 20pt;
  }
}
