@import "./global.scss";

.clock-component {
  position: relative;
  color: $blue;
  font-family: $font-family;
  left: 77%;
  margin: 0%;
}
.clock {
  color: $blue;
  font-family: $font-main;
  font-size: 32pt;
  position: absolute;
  left: 160vh;
  top: 0vh;
}

@media only screen and (max-width: 700px) {
  .clock-component {
    font-size: 40%;
    left: 75%;
  }
}
