//color pallet
$yellow: #f8dd74;
$blue: #4a61e3;
$white: #f5f9f7;
$black: #000000;
//Font family
$font-family: "Frank Ruhl Libre";

$font-size-h1: 5vh; // We have to define a real value
$font-size: 4vw;

$page-height: 100vh;

//fonts
$font-main: "Frank Ruhl Libre";
$font-secondary: "Roboto";

//font sizes
$header: 30px;
$btn-size: 24px;
