//color pallet
$blue: #2D4454;
$red:#8E0E06;
$mostard:#BC8905;
$light-peach:#ECCEA0;
$gray:#8C877D;
$white:rgb(231, 230, 230);
//Font family
$font-family-Login: 'Frank Ruhl Libre';
$font-family: 'Space Mono';


