//color pallet
$yellow: #f8dd74;
$blue: #4a61e3;
$white: #f5f9f7;
$black: #000000;
//Font family
$font-family: "Frank Ruhl Libre";

$font-size-h1: 5vh; // We have to define a real value
$font-size: 4vw;

$page-height: 100vh;

//fonts
$font-main: "Frank Ruhl Libre";
$font-secondary: "Roboto";

//font sizes
$header: 30px;
$btn-size: 24px;

.btn-logout {
  color: $blue;
  border: none;
  background-color: rgba(252, 250, 250, 0);
  width: 30vh;
  font-size: 26pt;
  font-family: $font-main;
  position: fixed;
  right: 0vh;
  top: 92vh;
  &:hover {
    text-decoration: none;
    color: $blue;
  }
}

.snackbar {
  position:absolute;
  bottom:90%;
  justify-self: center;
  display:block;
  background:$blue;
  border:#f2f2f2;
  padding:10px 40px 10px 20px;
  color:#fff;
  font-family:$font-secondary;
  font-size:3.5vh;
  transition: top 1s ease-in-out;
  z-index:9;
  cursor:pointer;
} 
.snackclose {
  display:none;
  z-index:10;
}
