@import "./global.scss";

body {
  background-color: $yellow;
}

.insert-form {
  .insert-hours-title {
    height: 40px;
  }
  h1 {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    font-family: $font-family;
    font-size: $font-size-h1;
    color: $white;
    background-color: $blue;
    margin-right: 20px;
    margin-left: 20px;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $font-family;
    font-size: 6vw;
    color: $blue;
    background-color: $white;
    margin-right: 20px;
    margin-left: 20px;
  }

  .insert-month_number {
    background-color: $yellow;
  }
  .insert-day_number {
    background-color: $yellow;
  }
  .insert-hour {
    background-color: $yellow;
  }

  button {
    color: $white;
    background-color: $black;
    width: 20vh;
    font-size: $btn-size;
    font-family: $font-main;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1025px) {
  .insert-form {
    .insert-hours-title {
      height: 41px;
    }
    h1 {
      margin-top: 60px;
      font-size: 6vh;
      margin-right: 80px;
      margin-left: 80px;
    }
    form {
      font-size: 2vw;
      margin: 0px 80px 20px 80px;
    }
    button {
      width: 25vh;
      font-size: 18px;
    }
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .insert-form {
    .insert-hours-title {
      height: 40px;
    }
    h1 {
      margin-top: 60px;
      font-size: 5vh;
      margin-right: 80px;
      margin-left: 80px;
    }
    form {
      font-size: 2vw;
      margin: 0px 80px 20px 80px;
    }
    button {
      width: 25vh;
      font-size: 18px;
    }
  }
}

@media screen and (min-width: 767px) and (max-width: 768px) {
  .insert-form {
    .insert-hours-title {
      height: 33px;
    }
    h1 {
      margin-top: 80px;
      font-size: 3vh;
      margin-right: 80px;
      margin-left: 80px;
    }
    form {
      font-size: 3vw;
      margin: 0px 80px 20px 80px;
    }
    button {
      width: 25vh;
      font-size: 18px;
    }
  }
  body {
    background-color: #f8dd74;
    text-align: center;
    height: 50vh;
  }
}

@media screen and (min-width: 736px) and (max-width: 767px) {
  .insert-form {
    .insert-hours-title {
      height: 33px;
    }
    h1 {
      margin-top: 60px;
      font-size: 8vh;
      margin-right: 80px;
      margin-left: 80px;
    }
    form {
      font-size: 3vw;
      margin: 0px 80px 80px 80px;
    }
    button {
      width: 25vh;
      font-size: 18px;
    }
  }
}

@media screen and (min-width: 684px) and (max-width: 735px) {
  .insert-form {
    .insert-hours-title {
      height: 36px;
    }
    h1 {
      margin-top: 60px;
      font-size: 8vh;
      margin-right: 80px;
      margin-left: 80px;
    }
    form {
      font-size: 3vw;
      margin: 0px 80px 80px 80px;
    }
    button {
      font-size: 16px;
    }
  }
}

@media screen and (min-width: 415px) and (max-width: 683px) {
  .insert-form {
    .insert-hours-title {
      height: 29px;
    }
    h1 {
      margin-top: 60px;
      font-size: 8vh;
      margin-right: 80px;
      margin-left: 80px;
    }
    form {
      font-size: 3vw;
      margin: 0px 80px 80px 80px;
    }
    button {
      font-size: 16px;
      width: 25vh;
    }
  }
}

@media screen and (min-width: 375px) and (max-width: 414px) {
  .insert-form {
    .insert-hours-title {
      height: 36px;
    }
  }
}

// .select-hours-insert {
//   display: flex;
//   justify-content: center;
//   flex-direction: column;
//   align-items: center;
//   padding-top: 4vh;
//   position: absolute;
//   top: 90px;
//   left: 450px;
//   font-size: 2vw;
//   font-family: $font-family;
//   color: $blue;
//   height: 40%;
//   width: 30%;
//   background-color: $white;
// }

// @media screen and (min-width: 375px) and (max-width: 414px) {
//   .edit_header {
//     margin-top: 40px;
//     width: 90%;
//     height: 60px;
//     margin-left: 350px;
//   }

//   .select-hours-insert {
//     left: 350px;
//     width: 60%;
//     font-size: 5vw;
//     top: 120px;
//   }
// }

// .edit_header {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin-top: 40px;
//   color: $white;
//   background-color: $blue;
//   font-size: $font-size-h1;
//   font-family: $font-family;
//   width: 30%;
//   height: 60px;
//   margin-left: 450px;
// }

// .insert-month_number {
//   background-color: $yellow;
// }
// .insert-day_number {
//   background-color: $yellow;
// }
// .insert-hour {
//   background-color: $yellow;
// }
