@import "./global.scss";


.main_login{
    font-family:$font-family-Login;
    position:absolute;
    height:100%;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    background: conic-gradient(from -48deg, rgb(26, 25, 25),black 175deg,rgb(26, 25, 25));
}
.centrilized-content{
    background:white;
    width:50%;
    height:70%;
    
}
.form-login{
    background:blue;
    width:75%;
    height:50%;
   
}

.input-component{
    background:purple;
    flex-direction:column;
}

.buttonsDiv-login{
    background:red;
    width:40%;
    height:20%;
    
    
}
