@import "./global.scss";

.upload-component {
  height: 100vh;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: $font-family;
  overflow-y: hidden;
  max-height: 100vh;
}

#form-upload {
  background: white;
  height: 60%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  margin-top: 5%;
  color: $blue;
  box-shadow: -10px 6px 15px rgba(0, 0, 0, 0.58);
  align-items: center;
}

#form-upload h1 {
  text-align: center;
  display: flex;
  justify-content: center;
  height: 15%;
  padding-top: 3%;
  background: $blue;
  font-size: 6vh;
  color: white;
  align-self: stretch;
}
.input-upload {
  display: flex;
  flex-direction: column;

  width: 90%;
  height: 60%;
}

#custom-file-input {
  opacity: 1;
  height: 20%;
  display: flex;
  flex-direction: column;
  &:focus {
    outline: none;
  }
}
.custom-file-input::-webkit-file-upload-button {
  opacity: 0;
}
.custom-file-input::before {
  content: "Select file(s)";
  color: $yellow;

  background: $blue;
  border: 1px solid $yellow;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-size: 100%;
  padding: 3%;
}

.submit-input {
  border: 1px solid $yellow;
  color: $yellow;
  background: $blue;
  box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.58);
  width: 50%;
  height: 8%;
  margin-top: 1%;
  align-self: center;
  cursor: pointer;
}
.select-css-upload {
  display: block;
  color: $white;
  width: 100%;
  height: 20%;
  font-size: 100%;
  padding-left: 5%;
  font-family: $font-secondary;
  display: flex;
  box-sizing: border-box;
  border: 1px solid $blue;
  box-shadow: 0 5px 0 5px rgba(192, 189, 189, 0.04);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: $black;
  background-image: url("../icons/selector.svg");
  background-size: 50%;
  background-position: 90%;
  background-repeat: no-repeat;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
.select-css::-ms-expand {
  display: none;
}

@media only screen and (min-width: 700px) {
  .input-upload {
    font-size: 2vh;
  }
}

@media only screen and (orientation: landscape) {
  .upload-component {
    font-size: 3vh;
  }
  .input-upload {
    width: 70%;
    margin-top: 5%;
  }

  #form-upload h1 {
    width: 100%;
  }
  #form-upload {
    margin: 10%;
    width: 50%;
    height: 80%;
    display: flex;
    align-items: center;
  }
}
