@import "./global.scss";

.table-edit {
  text-align: center;
  padding-top: 400px;
  align-items: center;
  margin-top: 50px;
  background-color: $white;
}

.edit-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.table-edit-head {
  background-color: $blue;
  font-family: $font-main;
  font-size: 22pt;
  color: $white;
}
.table-edit-body {
  font-family: $font-secondary;
  font-size: 20pt;
  padding-top: 30px;
  margin-top: 20px;
}
.table-cell {
  width: 200px;
}
.hidden-p {
  opacity: 0;
}
.hidden-table {
  opacity: 0;
}
