//colors
$yellow: #f8dd74;
$black: #000000;
$blue: #4a61e3;
$white: #f5f9f7;

$page-height: 100vh;

//fonts
$font-main: Frank Ruhl Libre;
$font-secondary: Roboto;

//font sizes
$header: 30px;
$btn-size: 24px;
